/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
body{
	margin: 0em 0.5em;
}

img{
    max-width: 100%;
    height: 25em;

}

h1{
    font-family: montserrat; 
    font-weight: 900;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0.25em;
	letter-spacing: 0.25em;
	margin: 0;
}

h2{
	width: 100%;
	font-family: montserrat; 
	
	
}
h3{
	 font-family: montserrat;
	font-weight: bolder;
	margin: 10px 0px;

}
p{
    font-family: montserrat;
	margin: 10px 0px;
}


/*nav*/
.nav{
	width: 90%;
	height: 2.5em;
	background-color: transparent;
	top: 0.3em;
	left: 1em;
	color: white;
	position: fixed;
	z-index: 100;
}
.nav.active{
	width: 90%;
	height: 2.5em;
	background-color: white;
	top: 0.3em;
	left: 1em;
	color: black;
	position: fixed;
	z-index: 100;

}
.menu{
	border: 0px;
	background-color: transparent;
	top: 0.3em;
	left: 1em;
	position: absolute;
}

.menu i{
	color: white;
}
.menuactive i{
	color: black;
}

.shop{
	border: 0px;
	background-color: white;
	top: 0.3em;
	right: 1em;
	position: absolute;
}
.shopactive {
	border: 0px;
	background-color: black;
	color: white;
	top: 0.3em;
	right: 1em;
	position: absolute;
}

/*slider*/


.carrousel {
  position: relative;

}
.carrousel img{
    height: auto;
}
.tekst-in-foto {
  color: #ffffff;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  text-align: center;

}


/* grid*/

.grid{
	display:grid;
  	grid-template-columns:1fr 1fr;
	grid-template-rows: 15em 15em;
	grid-gap: 1em;
	padding-bottom: 4em;

}
.grid img{
	height: 10em;
	width: 100%;
}





.collapsible {
	  background-color: #ffffff;
	  color: black;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #ffffff;
}

.collapsible:after {
	content: '\002B';
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

content .active:after {
  content: "\2212";
}

.content {
  	padding: 0 18px;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  	background-color: #f1f1f1;
}

/*top-button*/
button{
	border-radius: 300%;
	height: 2.5em;	
	width: 2.5em;
	background-color: white;
	border: solid 1px gray;
}

i{
	font-size: 20px;
	color: #9d9d9c;
	padding: 0;


	
}
#top{	
	position: fixed;
	bottom: 1em;
	right: 1em;
}

#top:active{
	background-color: darkgrey;
}



/*footer*/
footer{
	background-color: darkgrey;
}


ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 4em 0 0 0;
	justify-content: center;
}
li img{
	height: auto;
	max-width: 100%;
	padding: 0 0.25em;
}
