*, *::after, *::before {
  box-sizing:border-box;  
}
body{
	margin: 0em 0.0em;
	animation: fadein 5s;
}


img{
    max-width: 100%;
}

h1{
    font-family: raleway; 
    font-weight: 900;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0.25em;
	letter-spacing: 0.25em;
	margin: 0;
}

h2{
	width: 100%;
	font-family: raleway; 
	
	
}
h3{
	font-family: roboto;
	font-weight: normal;
	margin: 10px 0px;
	

}
p{
    font-family: roboto;
	font-size: 14px;
	margin: 10px 0px;
	color: 616161;
	font-weight: lighter;
}
button{
	border-radius: 300%;
	height: 2.5em;	
	width: 2.5em;
	background-color: white;
	border: solid 1px gray;
}
button:focus{
	border: solid 1px orange;
	border-radius: 0%;
}

i{
	font-size: 16px;
	color: black;
	padding: 0;
}

Article{
	margin: 0em 0.85em;
}

footer{
	background-color: #edefee;
}
ul{
	display: flex;
	list-style: none;
	margin: 0 0 0 0;
}

li{
	width: 100%
}
li img{
	height: auto;
}


/*fade in pagina*/

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
   transform: scale(1);
  }
  90% {
   transform: scale(0.95);
  }
	
  100% {
  transform: scale(1);
  }
} 

.detailfoto img:active {
 	animation-name: zoom;
 	animation-duration: 2s; 
}


/*nav*/
.nav{
	width: 95%;
	height: 2.5em;
	background-color: transparent;
	top: 0.3em;
	left: 0.5em;
	color: white;
	position: fixed;
	z-index: 100;
}
.nav.active{
	width: 95%;
	height: 2.5em;
	background-color: white;
	top: 0.3em;
	left: 0.6em;
	color: black;
	position: fixed;
	z-index: 100;
}
.menu{
	border: 0px;
	background-color: transparent;
	top: 0.3em;
	left: 1em;
	position: absolute;
}

.menu i{
	color: white;
}
.menuactive i{
	color: black;
}

.shop{
	border: 0px;
	background-color: white;
	top: 0.3em;
	right: 1em;
	position: absolute;
}
.shopactive {
	border: 0px;
	background-color: black;
	color: white;
	top: 0.3em;
	right: 1em;
	position: absolute;
}

/*slider*/


.carrousel {
  	position: relative;
	padding-bottom: 3em;
}
.carrousel img{
    height:100vh;

}
.carrousel p:nth-of-type(1) {
  	color: #ffffff;
  	font-size: 35px;
  	padding: 8px 12px;
  	position: absolute;
  	bottom: 2.5em;
  	width: 100%;
  	text-align: center;
}


/*post*/
.post, .posttekst{
	margin: 0em 0.85em;
}



/* grid home*/

.grid{
	display:grid;
  	grid-template-columns:1fr 1fr;
	grid-template-rows: 18em;
	grid-gap: 1em;
	margin: 0em 0.85em;	
}
.grid img{
	height: auto;
	width: 100%;
}

/* grid detail*/
.detailfoto {
	display: grid;
	width: 100%;
}
.detailfoto img{
	height: auto;
}

/*grid-row-start / grid-column-start / grid-row-end / grid-column-end*/

img:nth-of-type(1){ grid-area: 1 / 1 / 2 / 3; }
img:nth-of-type(2){ grid-area: 2 / 1 / 3 / 2; }
img:nth-of-type(3){ grid-area: 2 / 2 / 3 / 3; }
img:nth-of-type(4){ grid-area: 3 / 1 / 4 / 3; }
img:nth-of-type(5){ grid-area: 4 / 1 / 5 / 2; }
img:nth-of-type(6){ grid-area: 4 / 2 / 5 / 3; }



.bestel{
	width: 100%;
	height: 8em;
	background-color: white;
	position: sticky;
	bottom: 0;
}

.bestel p{
	text-align: center;
	padding-top: 1em;
	font-size: 16px;
}

.bestelknop{
	background-color: black;
	color: white;
	width: 90%;
	height: 4em;
	border-radius: 0;
	margin-left: 1em;
}
.bestelknop p{
	color: white;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
}

.info{
	margin-bottom: 2em;
}

.collapsible {
	background-color: #ffffff;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin-bottom: 0.1em;
}


.collapsible:after {
	content: '\002B';
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.content {
  	padding: 0 18px;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  	background-color: #f1f1f1;
}

.terug{
	max-height: 3em;
	max-width: 3em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
#top{	
	position: fixed;
	bottom: 1em;
	right: 1em;
	justify-content: center;
}

#top:active{
	background-color: darkgrey;
}
.fa-angle-up:before{
	margin: 0 0;
}

/*footer*/
footer{
	background-color: #edefee;
}
ul{
	display: flex;
	list-style: none;
	margin: 0 0 0 0;
}

li{
	width: 100%
}
li img{
	height: auto;
}